*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { 
    font-size: 62.5%; 
    font-family: 'Roboto', sans-serif;
}
:root{
    --primary-color:#40bad5;
    --secondary-color:#ffc107;
    --font-color:rgb(242, 242, 242);
}
@media screen and (max-width: 768px) {
    html {
      font-size: 50%;
       }
  }
/*===============Common class================*/
.section{
width: 100%;
}

.container{
width: 90%;
margin: 0 auto;
font-size: 2rem;
margin-top: 20px;

}
@media screen and (min-width: 576px) {
    .container {
      width: 536px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 728px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .container {
      width: 960px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1140px;
    }
  }
  
/*============header css==================>*/
header{
    height: 100vh;
    background-image: url(../img/secimag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--font-color);
    }
.header-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    position:fixed;
    backdrop-filter:blur(40px);
    
}
.header-container-leftbox ul , .header-container-rightbox ul{
    padding: 10px;
    display: flex;
    list-style: none;
    align-items: center;
    
}
.header-container-leftbox li , .header-container-rightbox li{
    padding-left: 15px;
}
.header-text{
    width: 50%;
    height: 40%;
    position: absolute;
    left: 300px;
    top:200px;
    text-align: center;
}
.header-text *{
    text-align: center;
    line-height: 2; 
    font-size: 2rem;  
    border-radius: 10px;
   }
.header-text h1{
    font-size: 5rem;
}
.header-text p{
    font-size: 1.6rem;
}
.btn{
    padding: 1.6rem 3rem;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  border: none;
  color:var(--font-color);
  font-weight: 600;
  border-radius: 0.4rem;
}
.menu-btn{
    display: none;
}
@media screen and (max-width: 992px) {
    .header-container-leftbox ul {
      display: none;
    }
    .header-container-rightbox {
      display: none;
    }
  
    .menu-btn {
      padding: 1rem;
      display: block;
    }
  }
/* ===================== form css ========================*/

.section-form-title p{
    font-size: 2rem;
}
.section-form-details{
   
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
.box{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.box *{
    padding:15px;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    background-color: beige;
    margin-top: 15px;    
}
.btn{
background-color: var(--primary-color);
}
.btn:hover{
    background-color: var(--secondary-color);
}
/* ===================== Image Container css ========================*/

.image-container{
   height: 500px;
    display: grid;
    grid-template-rows: 600px;
  grid-template-columns:repeat(2,1fr);
  margin-top: 2rem;
}
.image-left-box{

    background-image: url(../img/blog6.png);
}
.image-right-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.img{
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.2rem;
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    color: var(--font-color);
    background-color: #ffc10730;
    background-blend-mode: overlay;
    
}
.img1{
    background-image: url(../img/blog1.jpg);
}
.img2{
    background-image: url(../img/blog2.jpg);
}
.img3{
    background-image: url(../img/blog3.jpg);
}
.img4{
    background-image: url(../img/blog4.jpg);
}
.image-left-box{
    display: flex;
    align-items: center;
}
.des h1{
    font-size: 3rem;
    }
.des p{
    font-size: 1.6rem;
}
